
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments :: header"></div>
<body>
<div th:replace="fragments :: head"></div>

<main role="main">
    <div class="container padding">
        <div class="page-header m-4 center">
            <h2 th:text="#{msg.app.label.edit.product}"></h2>
            <p class="lead" th:text="#{msg.app.label.edit.product.description}"></p>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1 offset-2">
                <h4 class="mb-3"></h4>
                <form action="#" th:action="@{/emusicstore/}" th:object="${product}" method="post">
                <div>
                   <input type="hidden" th:field="*{id}">
                </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.product}"></label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Product name">
                    </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.description}"></label>
                        <input type="text" class="form-control" id="description" placeholder="Product description" th:field="*{description}">
                    </div>

                    <div class="mb-3">
                        <label th:text="#{msg.app.label.manufacturer}"></label>
                        <input type="text" class="form-control" id="manufacturer" placeholder="Product manufacturer" th:field="*{manufacturer}">
                    </div>

                    <div class="mb-3">
                        <label th:text="#{msg.app.label.price}"></label>
                        <input type="number" class="form-control" min="0" value="0" step=".01" th:field="*{price}" id="price"  >
                    </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.items.in.stock}"></label>
                        <input type="number" class="form-control" min="0" value="0" th:field="*{unitInStock}" id="unitInStock"  >
                    </div>
                    <div class="offset-6">
                        <input type="submit" class=" btn btn-dark" th:value="#{msg.app.button.submit}"/>
                    </div>
                  </form>

            </div> <!--col-->
        </div>  <!--row-->

    </div><!-- /.container -->



</main>
<div th:replace="fragments :: footer" ></div>
<div th:replace="fragments :: js"></div>

</body>
</html>


