
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments :: header"></div>
<body>
<div th:replace="fragments :: head"></div>

<main role="main">
    <div class="container padding" >
        <div class="page-header m-4 center">
            <h2 th:text="#{msg.app.label.add.product}"></h2>
            <p class="lead" th:text="#{msg.app.label.add.product.description}"></p>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1 offset-2">
                <h4 class="mb-3"></h4>
                <form action="#" th:action="@{add}" th:object="${product}" method="post"class="needs-validation"  enctype="multipart/form-data" novalidate>

                    <div>
                        <input type="hidden" th:field="*{id}">
                    </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.product}"></label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" th:placeholder="#{msg.app.label.product.name}">
                    </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.description}"></label>
                        <input type="text" class="form-control" id="description" th:placeholder="#{msg.app.label.product.description}" th:field="*{description}">
                    </div>

                    <div class="mb-3">
                        <label th:text="#{msg.app.label.manufacturer}"></label>
                        <input type="text" class="form-control" id="manufacturer" th:placeholder="#{msg.app.label.product.manufacturer}" th:field="*{manufacturer}">
                    </div>

                    <div class="mb-3">
                        <label th:text="#{msg.app.label.pricr}"></label>
                        <input type="number" class="form-control" min="0" value="0" step=".01" th:field="*{price}" id="price"  >
                    </div>
                    <div class="mb-3">
                        <label th:text="#{msg.app.label.product}"></label>
                        <input type="number" class="form-control" min="0" value="0" th:field="*{unitInStock}" id="unitInStock"  >
                    </div>

                    <div class="offset-6">
                        <input type="submit" class=" btn btn-dark" th:value="#{msg.app.button.submit}"/>
                    </div>
                </form>
            </div> <!--col-->
        </div>  <!--row-->

    </div><!-- /.container -->
</main>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: js"></div>

</body>
</html>
