<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments :: header"></div>
<body>
<div th:replace="fragments :: head"></div>

<main role="main">
    <div class="container padding" >
        <div class="page-header m-4">
            <h2>Product Detail</h2>
            <p class="lead">Here is the detail information of our product</p>
        </div>
    </div><!-- /.container -->

    <div class="container" >
        <div class="row ">
             <div class="col-md-5">
             <img th:src="@{/img/tobias-reich-nv8q1ft13CE-unsplash.jpg}" style="width: 80%;height: 80%"/>
             </div>
            <div class="col-md-5">
              <h4>Product: [[${product.name}]]</h4>
               <p>Description: [[${product.description}]]</p>
               <p>Manufacturer: [[${product.manufacturer}]]</p>
                <p>Price: [[${product.price}]] kn</p>
                <p>Items available: [[${product.unitInStock}]]</p>
            </div>
        </div>


    </div><!-- /.container -->
</main>
<div th:replace="fragments :: footer" ></div>
<div th:replace="fragments :: js"></div>

</body>
</html>