<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments :: header"></div>
<body>
<div th:replace="fragments :: head"></div>

<main role="main">
    <div class="container padding" >
        <div class="page-header m-4">
            <h2 th:text="#{msg.app.label.product.detail}"></h2>
            <p class="lead" th:text="#{msg.app.label.product.detail.description}" ></p>
        </div>
    </div><!-- /.container -->

    <div class="container" >
        <div class="row ">
             <div class="col-md-5">
             <img th:src="@{/img/tobias-reich-nv8q1ft13CE-unsplash.jpg}" style="width: 80%;height: 80%"/>
             </div>
            <div class="col-md-5">
                <div>
                    <h4  th:text="#{msg.app.label.product}"></h4><span>[[${product.name}]]</span>
                </div>
                <div>
                    <p  th:text="#{msg.app.label.description}"></p><span>[[${product.description}]]</span>
                </div>
                <div>
                    <p  th:text="#{msg.app.label.manufacturer}"></p><span>[[${product.manufacturer}]]</span>
                </div>
                <div>
                    <p  th:text="#{msg.app.label.price}"></p><span>[[${product.price}]] kn</span>
                </div>
                <div>
                    <p  th:text="#{msg.app.label.items.in.stock}"></p><span>[[${product.unitInStock}]]</span>
                </div>

            </div>
        </div>


    </div><!-- /.container -->
</main>
<div th:replace="fragments :: footer" ></div>
<div th:replace="fragments :: js"></div>

</body>
</html>